build/
build-coverage/
site/
subprojects/libsecp256k1/
subprojects/doctest-*/
subprojects/packagecache/
tests/viem_compare/node_modules/
**/target

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
